<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Parallax</title>
  </head>
  <title>Parallax</title>
  <body>
    <div class="txt">
      <h1>PARALLAX WEBSITE</h1>
    </div>
    <div class="section">
      <h3>Section one</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et maxime culpa
        explicabo, odio quos expedita quod officia nemo provident earum ratione
        ex numquam accusamus sunt veritatis consequuntur repellat aliquid
        quibusdam voluptates laboriosam? Vel exercitationem et odio voluptates
        odit culpa ullam corporis, perspiciatis distinctio aliquid dolore
        voluptates, non quae illum maiores sequi autem consequatur tenetur
        voluptatum soluta sit corrupti omnis a excepturi asperiores. Similique
        odio ea id ratione ex explicabo pariatur vitae culpa, earum hic soluta
        amet dignissimos magnam dicta reiciendis temporibus quidem omnis
        nostrum. In et ratione similique explicabo minus voluptatibus,
        accusantium corporis a commodi velit. Nobis dolore culpa ipsam
        consequuntur inventore! Velit perspiciatis nam unde, Laborum quidem, dicta ducimus quia
        perferendis neque, saepe minima enim debitis, quisquam sapiente quasi
        amet officia? Eum temporibus, ab a in voluptatum rem labore impedit
        accusamus nulla minima veritatis iure consequatur.
      </p>
    </div> 
    <div class="section1">
      <h3>Section two</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quos
        nostrum magnam quia voluptatibus tempora saepe ipsum harum accusantium
        quos. Obcaecati aliquam officiis incidunt nesciunt beatae sint totam
        odit magnam, nulla quo, animi error? Odio magnam ratione blanditiis
        dolore voluptates nostrum iusto voluptate quo reprehenderit ab tenetur,
        sequi beatae officia iure delectus maxime ipsum at error perferendis.
        Repellat quod maiores doloremque accusamus dolorem non! Ad tempora
        officiis quod ipsa saepe reprehenderit ullam in! Exercitationem dolorum
        suscipit dolore repellendus, quis sint dignissimos! Laudantium
        architecto accusamus natus suscipit ipsam. Placeat reprehenderit
        repudiandae recusandae itaque in vitae ipsa voluptas quo aspernatur,
        quisquam doloremque corrupti, provident magni eos, error soluta nostrum
        veniam esse eum?
      </p>
    </div>
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </body>
</html>
